*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html ,body{
    scroll-behavior: smooth;
}
.bg-1{
    background-color: #D8E3E7;
}
.bg-2{
    background-color: #51C4D3;
}
.bg-3{
    background-color: #126E82;
}
.bg-4{
    background-color: #132C33;
}

.color-1{
    color: #D8E3E7;
}
.color-2{
    color: #51C4D3;
}
.color-3{
    color: #126E82;
}
.color-4{
    color: #132C33;
}

.d-none{
    display: none;
}
.paduka-cursor{
    cursor: url(https://cur.cursors-4u.net/cursors/cur-11/cur1054.cur), auto !important;
}
.text-center{
    text-align: center;
}