.swiper-button-next,
.swiper-button-prev{
    color: white !important;
}
.swiper-text-container a{
    color: white;

}
.fullscreen{
    inset: 0;
    position: absolute;
    background-position: center;
}

.terapkan-change-char:hover{
    transform: translateY(12px);
    transition: ease 2s;
}
.video-container-change-char{
    position: absolute;
    object-fit: cover;
    object-position: center;
    width: 100vw;
    height: 190vh;
    inset: 0;
}
.swipper-container-change-char{
    width: 100vw;
    height: 50vh;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-size: 23px;
    border-radius: 2px;
    border:2px solid ;
    z-index: 90;
    padding: 20px;
    box-shadow: 12px 12px 12px ;
}
/* .swipper-container-change-char:hover{
    transform: translateY(12px);
    transition: ease 2s;
} */

.RajaFrontendLinkChange{
    box-shadow: 12px 12px 12px rgb(238, 156, 25) !important;
    transition: ease .8s;
}
.RajaFrontendLinkChange:hover{
    box-shadow: 12px 12px 12px rgb(246,207,143) !important;
}
.RajaFrontendLinkChange:hover,
.RajaFrontendLinkChange a:hover{
    color:rgb(240, 164, 42) !important;
    /* transition: ease 4s; */
    cursor: pointer;
}
.RatuBackendLink{
    box-shadow: 12px 12px 12px rgb(142, 44, 175) !important;
    transition: ease .8s;
    cursor: pointer;
}
.RatuBackendLink:hover{box-shadow: 12px 12px 12px rgb(209, 108, 243) !important;}
.RatuBackendLink:hover,
.RatuBackendLink a:hover{
    color:rgb(142, 44, 175) !important;
}

.PadukaFullstekLinkChange{
    box-shadow: 12px 12px 12px rgb(42, 153, 175) !important;
    transition: ease .8s;
    cursor: pointer;
}
.PadukaFullstekLinkChange:hover{
    box-shadow: 12px 12px 12px rgb(136, 214, 231) !important;
}
.PadukaFullstekLinkChange:hover,
.PadukaFullstekLinkChange a:hover{
    color:rgb(88, 201, 226) !important;
}
.PadukaFullstekLinkChange .terapkan{
    position: absolute;
    background-color: black ;
} 
.LoginLink{
    top: 32px;
    padding: 10px 25px;
    left: 12px;
}
.swipper-container-home{
    width: 100vw;
    height: 100vh;
    background-color: black;
}
.swipper-container-home .slider-swiper{
  width: 100%;
}
.swipper-container-home .slider-swiper video{
    height: 100vh;
}
.home-organism-text-container{
    display: flex;
    gap: .5rem;
    /* margin:12px auto; */
    margin-left: 30px;
    flex-wrap: wrap;
    align-content: center;
}
.home-organism-text-container .card{
    width: 20vw;
    background-color: rgba(2, 40, 58, 0.815);
    color:whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3vmin;
    margin: auto 8px;
    padding: 1rem;
    border: white solid 2px;
    filter: drop-shadow(12px 4px royalblue);
    box-shadow: -4px -9px pink;
    transform:translateY(-20px) ;
}
.home-organism-text-container .card:hover{
    filter: drop-shadow(0px 0px royalblue);
    box-shadow: 0 0 royalblue;
    transition: all .5s ;
    transform: translateX(12px);
    cursor:default;
}
.card .title{
    text-align: center;
    font-size:3vmin;
}

.data-recoil{
    background-color: rgb(3, 3, 109);
    color: whitesmoke;
    font-size: 5vmin;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 20px;
    display: flex;
}
.data-recoil .card{
   border: 1px white solid;
   padding: 2px;
}
.data-recoil a{
   text-decoration: none;
   color:dodgerblue;
}
.data-recoil a:hover{
   text-decoration: none;
   color:rgb(208, 217, 245);
   transition: .5s ease;
}

.home-organisms-video{
    position: absolute;
    height: 450px;
}


.card-char-container{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 3vw;
}
.card-char{
    top: 53vh;
    position: relative;
    box-shadow: 12px 12px 12px white;
    border: 2px solid white;
}
.card-char .swiper-text-container{
    position: absolute !important;
}
.card-char video{
    max-width: 45vw;
}