.notFoundvideo{
    object-fit: cover;
    object-position: 100%;
    inset: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
}
.not-found-message{
    position: relative;
    background-color: rgba(194,166,165,.4);
    box-shadow: 12px 12px 12px white;
    font-size: 32px;
    color: white;
    width: 450px;
    padding: 20px;
    border: 4px solid rgb(141, 139, 139);
    border-radius: 3px;
    left: 23px;
}
.not-found-message a{
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 3px;
    border-radius: 8px;
    font-size: 25px;
    margin-left: 15px;
    box-shadow:12px 12px 42px rgb(230, 156, 156);
    background-color: rgb(141, 139, 139);
    transition: all 2s;
}
.not-found-message a:hover{
    box-shadow:12px 12px 42px rgb(230, 156, 156);
    background-color: rgb(221, 206, 206);
    color: rgb(133, 130, 130);
}
.btn-back-404{
    cursor: pointer;
    border: 2px solid white;
    width: 124px;
}
.btn-back-404:hover{
    box-shadow:12px 12px 42px rgb(230, 156, 156);
    background-color: rgb(141, 139, 139);
    transition: ease-in-out .5s;
}