.btn-simpan{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px 12px;
    border-radius: 12px 32px 12px 32px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    /* border: 2px solid white; */
    box-shadow: 12px 12px 14px white;
    transform: translateX(140px) translateY(26px);
    /* position: absolute; */

}
.setting-title{
    z-index: 123;
}
.user-settings{
    gap:2px;
}
.user-info-settings{
    left: 25px !important;
}
.user-settings input{
    padding: 4px 4px;
    border-radius: 6px;
    /* outline-color: white; */
    box-shadow: 2px 1px 6px white;
}
.user-settings li input,
.user-settings li select{
    /* gap: 25px; */
    margin-bottom: 8px;
}
.user-settings select{
    padding: 7px 36px;
    outline-style: none;
    border-radius: 8px;
    width: 14vw;
    /* transition: ease-in-out .5s; */
}
.user-info-settings li span:last-child{
    text-align: left;
    display: flex;
}
.user-info-settings li p{
    width:400px;
    height: 3.75vh;
    margin-left: 12px;
}
.user-settings li,
.user-info-settings li{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    gap: 23px;
}
.user-settings,
.user-info-settings{
    display: flex;
    flex-direction: column;
    list-style: none;
    color:white;
    font-size: 21px;
    position: absolute;
    left: 60%;
    top: 20vh;
}
.user-setting-img{
    width: 9cqw;
    position: absolute;
    top:0;
    left: 50%;
    transform: translateY(45px) translateX(-165px);
    border: 3px solid white;
    border-radius: 150px;
    background-color: blue;
    cursor: pointer;
}
.filter-setting{
    width: 100.6vw;
    height: 110vh;
    background-color: rgba(8, 45, 54, .5);
    /* background-color: rgba(66, 70, 71,.5); */
    position: absolute;
    inset: 0;
    mix-blend-mode: initial;
    transition: ease-in 1s;
    z-index: 23;
}

.back-btn{
    position: absolute;
    top:20px;
    right:10px;
    border: 1px solid white;
    border-radius: 6px;
    cursor: pointer;
    z-index: 140;
}
.title-game-pause{
    color: whitesmoke;
    /* margin-left: 1cqw; */
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}
.pauseTitle-paduka{
    animation: pauseTitle-paduka;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-delay: .5s;
}
@keyframes pauseTitle-paduka{
    from{
        background-color: rgba(50, 53, 54, 0.6);
    }
    to{
        color: blue !important;
    }
}
.pauseTitle-raja{
    animation: pauseTitle-raja;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-delay: .5s;
}
@keyframes pauseTitle-raja{
    from{
        background-color: rgb(238, 156, 25);
    }
    to{
        color: blue !important;
    }
}
.pauseTitle-ratu{
    animation: pauseTitle-ratu;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-delay: .5s;
}
@keyframes pauseTitle-ratu{
    from{
        background-color: rgb(142, 44, 175);
    }
    to{
        color: blue !important;
    }
}
.menujumenugame{
    position: absolute;
    color: white;
    font-size: 23px;
    right: 12vw;
    top: 43px;
}
.game-video{
    position: absolute;
    width: 100.6vw;
    height: 110vh;
    object-fit: cover;
    object-position: center;
    inset: 0;
}
.disable{
    display: none;
}
.pause-container{
    position: absolute;
    display: flex;
    background-color: blue;
    flex-direction: column;
    gap: 4px;
    top:150px;
    left: 40vw;
    padding: 20px;
    transform: translateY(-100vw);
    transition: ease-out 2s;
}
.pause-container-togled{
    position: absolute;
    display: flex;
    background-color: blue;
    flex-direction: column;
    gap: 4px;
    top:150px;
    left: 40vw;
    padding: 20px;
    transform: translateY(0);
    transition: ease-in 2s;
    z-index: 999;
}
.pause-container-togled a,
.pause-container a{  
    text-decoration: none;
    color: white;
    font-size: 30px;
}
.link-wrapper{
    display: inline;
}

.RajaFrontendLinkMenu{
    box-shadow: 12px 12px 12px rgb(246,207,143) !important;
    transition: ease .8s;
}
.RajaFrontendLinkMenu:hover{
    box-shadow: 12px 12px 12px rgb(238, 156, 25) !important;
}
.RajaFrontendLinkMenu:hover,
.RajaFrontendLinkMenu a:hover{
    color:rgb(240, 164, 42) !important;
    /* transition: ease 4s; */
    cursor: pointer;
}
.RatuBackendLinkMenu{
    box-shadow: 12px 12px 12px rgb(142, 44, 175) !important;
    transition: ease .8s;
}
.RatuBackendLinkMenu:hover{box-shadow: 12px 12px 12px rgb(209, 108, 243) !important;}
.RatuBackendLinkMenu:hover,
.RatuBackendLinkMenu a:hover{
    /* color:rgb(142, 44, 175) !important; */
    color:rgb(210, 84, 252) !important;
}

.PadukaFullstekLinkMenu{
    box-shadow: 12px 12px 12px rgba(103,186,204,.6) !important;
    transition: ease .8s;
}
.PadukaFullstekLinkMenu:hover{
    box-shadow: 12px 12px 12px rgb(136, 214, 231) !important;
}
.PadukaFullstekLinkMenu:hover,
.PadukaFullstekLinkMenu a:hover{
    color:rgb(88, 201, 226) !important;
}
.RatuBackendCard{
    color:rgb(217, 184, 228);
    border: 2px solid rgb(92, 21, 116) !important;
    background-color: rgba(142, 44, 175,.7) !important;
    box-shadow: 12px 12px 12px rgb(142, 44, 175) !important;
}
.PadukaFullstekCard{
    color:rgb(88, 201, 226) !important;
    border: 2px solid rgb(103,186,204) !important;
    background-color: rgba(103,186,204,.6) !important;
    box-shadow: 12px 12px 12px rgb(103,186,204) !important;
}
.RajaFrontendCard{
    color:rgb(245, 202, 132);
    border: 2px solid rgb(246,207,143) !important;
    background-color: rgba(155, 115, 52, 0.6) !important;
    box-shadow: 12px 12px 12px rgb(226, 180, 105)!important;
}


.setting-container{
    overflow: hidden;
    position: relative;
    border: 2px solid white;
    height: 72vh;
    min-height: fit-content;
    padding-bottom: 39%;
    max-width: 1000px;
    max-width: 1800px;
    margin: 45px 30px;
    z-index: 99;
}
.setting-container .err-message{
    font-size: 12px !important;
}
.paduka-target{
    color:rgb(88, 201, 226) !important;
    background-color: rgba(62, 131, 146, 0.6) !important;
    box-shadow: 5px 6px 12px rgba(103,186,204,.6) !important;
    animation: paduka-target;
    animation-iteration-count: infinite;
    animation-duration: .9s;
    animation-delay: .5s;
}
@keyframes paduka-target{
    from{
        background-color: rgba(62, 131, 146, 0.6) ;
    }
    to{
        background-color: rgba(149, 193, 207, 0.6) ;
    }
}
.ratu-target{
    color:rgb(217, 184, 228) !important;
    background-color: rgba(92, 21, 116,.6) !important;
    box-shadow: 5px 6px 12px rgba(92, 21, 116) !important;
    animation:ratu-target;
    animation-iteration-count: infinite;
    animation-duration: .9s;
    animation-delay: .5s;
}
@keyframes ratu-target{
    from{
        background-color: rgba(92, 21, 116) !important ;
    }
    to{
        background-color: rgb(138, 52, 167) !important ;
    }
}
.raja-target{
    color:rgb(247, 241, 233) !important;
    background-color: rgba(158, 117, 51, 0.6) !important;
    box-shadow: 5px 6px 12px rgb(131, 87, 18) !important;
    animation: raja-target;
    animation-iteration-count: infinite;
    animation-duration: .9s;
    animation-delay: .5s;
}
@keyframes raja-target{
    from{
        background-color: rgba(155, 115, 52, 0.6) !important ;
    }
    to{
        background-color: rgba(12, 9, 5, 0.6) !important ;
    }
}

.paduka-profile{
    border-color:rgb(160, 229, 245) !important;
    background-color: rgba(16, 51, 59, 0.6) !important;
    box-shadow: 5px 6px 12px rgba(17, 45, 51, 0.6) !important;
}
.raja-profile{
    border-color:rgb(184, 157, 108) !important;
    background-color: rgba(70, 53, 27, 0.6) !important;
    box-shadow: 5px 6px 12px rgb(85, 64, 29) !important;
}
.ratu-profile{
    border-color:rgb(217, 184, 228) !important;
    background-color: rgba(92, 21, 116) !important;
    box-shadow: 5px 6px 12px rgba(92, 21, 116) !important;
}
/* .parent-game-container{
    overflow-x: hidden;
} */
.jajar-genjang::before,
.jajar-genjang::after{
    content: '';
    border: 3px solid white;
    width: 30px;
    height: 30px;
}
.jajar-genjang::before{
    position: absolute;
    transform: translateY(-2px);
}
.jajar-genjang::after{
    position: absolute;
    transform: translateX(8px) translateY(7px);
}
.jajar-genjang{
    /* position: absolute; */
    top: 0;
    left: 0;
    transform: translateX(-6px);
    /* background-color: white; */
    border: 3px solid;
    width: 30px;
    height: 30px;

}
.jajar-wrapper-kiri-atas{
    position: absolute;
    top: 0;
    left: 0;
}
.jajar-wrapper-kiri-bawah{
    position: absolute;
    bottom: 0px;
    left: 0;
    transform: rotate(630deg);
}
.jajar-wrapper-kanan-atas{
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(89deg);
}
.jajar-wrapper-kanan-bawah{
    position: absolute;
    right: 0;
    bottom: 0px;
    transform: rotate(180deg);
}
.jajar-wrapper-atas{
    position: absolute;
    right: 40vw;
    top: 20px;
    transform: rotate(130deg);
    box-shadow: 12px -12px 15px silver;
    animation: kelip-jajar-genjang .9s infinite;
    animation-delay: 4s;
}
.jajar-wrapper-bawah{
    position: absolute;
    right: 40vw;
    bottom: 40px;
    transform: rotate(130deg);
    /* background-color: white; */
    box-shadow: 12px -12px 15px silver;
    animation: kelip-jajar-genjang .9s infinite;
}

@keyframes kelip-jajar-genjang {
    from{
        /* background-color: white; */
        /* box-shadow: 12px -12px 15px silver; */
    }
    to{
        /* background-color: silver; */
        box-shadow: 12px -12px 15px white;
    }
}